<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg d-flex justify-content-between header">
        <div class="d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/dashboard"><h2>Note<span class="website-name-hub">Hub</span></h2></a>
            <div class="d-flex justify-content-between ml-2">
                <a href="/dashboard" class="ml-2 mr-2 font-weight-bold navbar-link">Home</a> |
                <a href="/all/notes" class="ml-2 mr-2 font-weight-bold navbar-link">Notes</a> |
                <a href="/favorites" class="ml-2 mr-2 font-weight-bold navbar-link">Favorites</a> 
            </div>
        </div>
        <div class="my-2 my-lg-0">
            <a href="/logout" class="font-weight-bold navbar-link">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome!</h1>
                <form action="/create/chapter"><button class="dashboard-option">Take Notes</button></form>
                <form action="/explore/notes"><button class="dashboard-option">Explore</button></form>
            </div>
            <div class="col">
                <h1>Recents</h1>
                {% for chapter in chapters %}
                    <div class = "card mb-1 p-2">
                        <a href="/view/note/{{chapter.id}}">
                        <span class="d-flex justify-content-between align-items-center">
                            <h3 class="card-title">{{chapter.title}}</h3>
                            <p>{{chapter.created_at.strftime('%m-%d-%Y')}}</p>
                        </span>
                        <h5>{{chapter.courses[0].course_name}}</h5>
                        <span class="d-flex justify-content-between align-items-center">
                            <h6 class="card-text">{{chapter.schools[0].school_name}}</h6>
                            <p>{{chapter.availability}}</p>
                        </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>