<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav class="navbar navbar-expand-lg d-flex justify-content-between header">
        <div class="d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/dashboard"><h2>Note<span class="website-name-hub">Hub</span></h2></a>
            <div class="d-flex justify-content-between ml-2">
                <a href="/dashboard" class="ml-2 mr-2 font-weight-bold navbar-link">Home</a> |
                <a href="/all/notes" class="ml-2 mr-2 font-weight-bold navbar-link">Notes</a> |
                <a href="/favorites" class="ml-2 mr-2 font-weight-bold navbar-link">Favorites</a> 
            </div>
        </div>
        <div class="my-2 my-lg-0">
            <a href="/logout" class="font-weight-bold navbar-link">Logout</a>
        </div>
    </nav>
    <div class="container">
        <form action="/edit/{{chapter.id}}" method="POST">
            {% with messages = get_flashed_messages(category_filter = ['chapter']) %}     
                {% if messages %}                            
                    {% for message in messages %}
                        <p>{{message}}</p> 
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div style="border-bottom:rgb(81, 81, 177); border-bottom-width:5px; border-bottom-style:solid;">
                <input type="hidden" name="chapter_id" value="{{chapter.id}}">
                <label for="title">Title:</label>
                <input type="text" name="title" value="{{chapter.title}}" class="form-control">
                <label for="school">School</label>
                <input type="text" name="school_name" value="{{chapter.schools[0].school_name}}" class="form-control">
                <label for="course">Course:</label>
                <input type="text" name="course_name" value="{{chapter.courses[0].course_name}}" class="form-control">
                <input type="radio" name="availability" value="Private">
                <label for="availability">Private</label><br>
                <input type="radio" name="availability" value="Public">
                <label for="availability">Public</label><br>   
            </div>

            <!--Use a for loop to give each note a unique name in the form-->
            <input type="hidden" name="num_of_notes" value="{{chapter.notes|length}}"/>
        {%  for note in chapter.notes %}
            <div style="border-bottom:rgb(64, 173, 224); border-bottom-width:5px; border-bottom-style:solid;">
                <input type="hidden" name="{{'id' + loop.index|string}}" value="{{note.id}}">
                <label for="header">Header:</label>
                <input type="text" name="{{'header' + loop.index|string}}" value="{{note.header}}" class="form-control">
                <label for="note">Note: </label>
                <textarea name="{{'note' + loop.index|string}}" cols="20" rows="8" class="form-control">{{note.note}}</textarea>
                <p>{{note.timestamp}}</p>
            </div>
        {% endfor %}
        <input type="submit" class="submit-btn mt-2">
        </form>

    </div>
</body>
</html>