.stopwatch{
    display: flex;
    align-items: center;
}

.time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
    margin-right: 5px;
}

.controls {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 187px;
}



#playButton {
    display: block;
}

#pauseButton {
    display: none;
}

.chapter-info{
    border-bottom: 3px solid black;
}

/* COLOR SCHEME */

body{                        
    background-color: bisque;
}

h1{
    color: rgb(81, 81, 177);
}

.header{
    background-color: white;
    border-bottom: 2px solid rgb(81, 81, 177);
}

.header a{
    color: rgb(81, 81, 177);
}

button{
    background-color: rgb(64, 173, 224);
    color: white;
    border: 1px solid rgb(81, 81, 177);
    border-radius: 10px;
}


.card{
    border: 2px solid rgb(64, 173, 224);
    color: black;
}

.card a{
    color: rgb(81, 81, 177);
}
.card a:hover{
    text-decoration: none;
    color: rgb(64, 173, 224);
}