*{
    font-family: 'Varela Round', sans-serif;
}

body{                        
    background-color: bisque;
}

h1, h2{
    color: rgb(81, 81, 177);
}

.title{
    text-align: center;
}

.website-name-hub{
    color: rgb(64, 173, 224);
}

.header{
    background-color: white;
    border-bottom: 2px solid rgb(81, 81, 177);
}

a:hover{
    text-decoration: none;
}

.header a{
    color: rgb(81, 81, 177);
}



.dashboard-option{
    display: block;
    margin: 10px;
    width: 400px;
    height: 200px;
}

button, .submit-btn{
    background-color: white;
    color: rgb(64, 173, 224);
    border: 2px solid rgb(81, 81, 177);
    border-radius: 10px;
    transition: 500ms;
}

button:hover, .submit-btn:hover{
    background-color: rgb(64, 173, 224);
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}


.submit-btn{
    height: 45px;
    width: 76px;
}

.submit-btn:hover{
    font-size: 16px;
}


.card{
    border: 2px solid rgb(64, 173, 224);
    color: black;
}

.card a{
    color: rgb(81, 81, 177);
    transition: 500ms;
}
.card a:hover{
    text-decoration: none;
    color: rgb(64, 173, 224);
}